<!DOCTYPE html>
<html ng-app='humaneApp'>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <title> CLINIC PAGE </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans:300,400,700" rel="stylesheet">
    <link rel='stylesheet' href='../css/donationsStyle.css' />
    <link rel='stylesheet' href='../font-awesome/css/font-awesome.css' />
    <link rel="stylesheet" href="../font-awesome-animation/dist/font-awesome-animation.min.css" />
    <link rel="stylesheet" href="../Hover-master/css/hover.css" />
    <link rel='stylesheet' href='../css/animate.min.css' />
</head>

<body ng-controller='mainCtrl'>

    <!-- DONATIONS -->

    <section id='donations'>
        <div class='container'>
            <div class='row row1'>
                <img src='../img/donations2.png' />
                <p><em><strong>Save lives all year long! Consider becoming&nbsp;a Monthly donor </strong></em>to help us to provide a<strong>&nbsp;</strong>consistent and reliable source of funding that allows us to plan ahead.<em><strong>&nbsp;</strong></em>Your
                    first online gift will be charged to your card immediately and&nbsp;on the same date each month. Monthly donations are easy to manage by logging into our website to update amounts, credit cards or cancel at any time. <br /> Please
                    check our Wish List for needed physical donations that can be dropped off to our Adoption Center located at 4242 S. 300 W. in Murray, Utah during regular business hours.</p>
            </div>
            <div class='row'>
                <div class='col-md-3 wow slideInUp' data-wow-duration='1s'>
                    <img src='../img/collar.png' class='img-fluid' />
                </div>
                <div class='col-md-3 wow slideInUp' data-wow-duration='1.2s'>
                    <img src='../img/truck.png' class='img-fluid' />
                </div>
                <div class='col-md-3 wow slideInUp' data-wow-duration='1.4s'>
                    <img src='../img/heart.png' class='img-fluid' />
                </div>
                <div class='col-md-3 wow slideInUp' data-wow-duration='1.6s'>
                    <img src='../img/bowl.png' class='img-fluid' />
                </div>
            </div>
            <div class='row row3'>
                <div class='col-md-3 wow slideInUp' data-wow-duration='1s'>
                    <stripe-directive id='bt1' class="btn hvr-ripple-out bt1" amount='25'></stripe-directive>
                </div>
                <div class='col-md-3 wow slideInUp' data-wow-duration='1.2s'>
                    <stripe-directive id='bt2' class="btn hvr-ripple-out bt2" amount='50'></stripe-directive>
                </div>
                <div class='col-md-3 wow slideInUp' data-wow-duration='1.4s'>
                    <stripe-directive id='bt3' class="btn  hvr-ripple-out bt3" amount='75'></stripe-directive>
                </div>
                <div class='col-md-3 wow slideInUp' data-wow-duration='1.6s'>
                    <stripe-directive id='bt4' class="btn  hvr-ripple-out bt4" amount='100'></stripe-directive>
                </div>
            </div>
        </div>


    </section>




    <!-- END DONATIONS -->
    <!-- SOCIAL -->
    <section id='social'>
        <div class='container'>
            <div class='row'>

                <div class='col-md-6'>
                    <h2>CONNECT WITH US!</h2>
                    <hr align='left' width='50%' />
                    <p>4242 South 300 West, Murray, Utah 84107 - (801) 261·2919 <br /> Adoption Hours: Mon - Sat 10 - 7 / Sun 12 - 5 <br /> Clinic Hours: Mon - Thu 9 - 12 and 1 - 6 / Fri 9 - 12 and 1 - 4 / Sat 9 - 3 / Sun CLSD</p>
                </div>

                <div class='col-md-6'>
                    <ul class='list-inline'>
                        <li class='list-inline-item'><a href='https://www.facebook.com/HumaneSocietyOfUtah'><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li class='list-inline-item'><a href='https://www.twitter.com/utahhumane'><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li class='list-inline-item'><a href='https://www.instagram.com/humanesocietyofutah'><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                </div>

            </div>
        </div>
    </section>
    <!-- END SOCIAL -->
    <script src="./js/wow.min.js"></script>
    <script>
        wow = new WOW({
            mobile: false // default
        })
        wow.init();
    </script>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.min.js"></script>
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <script src='../js/app.js'></script>
    <script src='../js/mainCtrl.js'></script>
    <script src='../js/mainService.js'></script>


</body>

</html>
